<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Java-Group-Course-Work</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>controller.attributes.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>controller.attributes.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDAO</display-name>
    <servlet-name>ProductDAO</servlet-name>
    <servlet-class>database.DAO.ProductDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDAO</servlet-name>
    <url-pattern>/ProductDAO</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/addtocart.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>filter.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCart</display-name>
    <servlet-name>AddtoCart</servlet-name>
    <servlet-class>controller.attributes.AddtoCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCart</servlet-name>
    <url-pattern>/AddtoCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseProduct</display-name>
    <servlet-name>PurchaseProduct</servlet-name>
    <servlet-class>controller.attributes.PurchaseProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseProduct</servlet-name>
    <url-pattern>/PurchaseProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCart</display-name>
    <servlet-name>RemoveCart</servlet-name>
    <servlet-class>controller.attributes.RemoveCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCart</servlet-name>
    <url-pattern>/RemoveCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>controller.attributes.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>controller.attributes.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>controller.attributes.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/500error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/404error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>controller.attributes.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProfile</display-name>
    <servlet-name>DeleteProfile</servlet-name>
    <servlet-class>controller.attributes.DeleteProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfile</servlet-name>
    <url-pattern>/DeleteProfile</url-pattern>
  </servlet-mapping>
</web-app>